body, html{
    margin: 0;
    background: #2b2927;
    font-family: 'Poppins', sans-serif;
  }

  header {
    height: 100px;
    background-color: #333333;
    color: whitesmoke;
    text-align: center;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

