
  
  .image-item{
    width: 115%;
    height: 170px;
    opacity:1;

  }
  .container:hover .image-item {
    opacity: 0.4;
  }


  .container:hover .desc-img {
    opacity: 1;
  }

  .desc-img {
    /**
     * Locate the text along with the image.
     */
    position: absolute;
    left: 2em;
    bottom: 1em;
    text-decoration-style: bold;
    /**
     * Bring the text to the front.
     */
    z-index: 2;
    /**
     * White texts look good.
     */
    color: black;
    opacity:0;
}

