.container {
	display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
 
}
.container:after {
 /**
     * Creates a blank element after the last image.
     */
     content: '';
     /**
      * Prevents the images in the last row to grow.
      * In case they become too large.
      */
     flex-grow: 99999;
     /**
      * Well... If the left space is less than (screenHeight / 4), make them grow!
      */
     min-width: calc(100vw / 4);
}
.container-item{
  position: relative;
	display: block;
  flex-grow: 1;
  overflow: hidden;
 
}

.img {
	height: 200px;
    vertical-align: bottom;
    min-width: 100%;
    max-width: 100%;
}

.img-desc {
  position:absolute;
  display:block;
  cursor:pointer;
  top: 35%;
  display: none;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 1em;
  text-shadow: 1px 5px 10px black;
  transition-duration: .3s;
}

.container-item:hover img{
  filter: grayscale(50%);
  opacity: .7;
}
.container-item:hover span{
  color:white;
  display: block;
  transition-duration: .3s;
}



